<html>
<head>
    <title>password</title>
    <script src = "/javascripts/password.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>


<h1>password</h1>
<p>enter password to complete your </p>
<p id = "comment"></p>

<form action = "http://localhost:3000/register/password" method="post">
    <input class = "none" type="email"  name="email" value=<%= mail%> >
    <input class = "none" type="text"  name="fname" value=<%= fname%> >
    <input class = "none" type="text"  name="lname" value=<%= lname%> >
    <label for="fpasswrd">password</label><br>
    <input type="password" id="fpasswrd" name="fpasswrd" ><br>
    <label for="lpasswrd">repeate your password</label><br>
    <input type="password" id="lpasswrd" name="lpasswrd" ><br>

    <button class = "button" id = "submit" >submit</button>
</form>
</body>
</html>