<!DOCTYPE html>
<html>
<head>
    <title>sweety ayala</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script></script>
</head>
<body>
<h1><%= title %></h1>
<p>אילה ברוכה הבאה</p>
<p>מה שם משפחתך?</p>
<input type="text">

</body>
</html>
