<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>Weather Forecast</title>
    <script src = "/javascripts/weather.js"></script>

</head>
<body>
<div class="container-fluid p-5">

    <div class="row p-3 mb-2 alert alert-primary text-dark">
        <div class="col">
            <h3>Weather Forecast</h3>
        </div>
    </div>
    <div class="row p-3 mb-2 alert alert-danger text-dark" id="id-error" style="display: none">
        <div class="col">
            <h3>ex3 - Weather Forecast</h3>
        </div>
    </div>
    <div class="row">
        <div class="p-4 col-md-6 bg-light">
            <label for="my-city"> city :</label>
            <input class="form-control" id="my-city" required type="text"><br>
            <label for="my-latitude"> latitude :</label>
            <input class="form-control" id="my-latitude" step="0.00001" max="90" min="-90" required type="number"><br>
            <label for="my-longitude"> longitude :</label>
            <input class="form-control" id="my-longitude"  step="0.00001" max="180" min="-180" required type="number"><br>
            <button class="btn btn-primary" id="button-add" type="button">Add</button>
        </div>

        <div class="col p-4 col-md-6 bg-light">
            <select class="form-control" id="id-select">
            </select>
            <div class="row p-2">
                <div class="col">
                    <button class="btn btn-primary " id="id-button-select" type="button">Send</button>
                    <button class="btn btn-primary" id="id-button-remove" type="button">Remove</button>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <table class="table" id="id-table">
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="id-image" style="display: none">
                <figure class="figure">
                    <h4>image of weather</h4>
                    <img alt="image of weather" class="figure-img img-fluid rounded" src="/images/images.jpg">
                </figure>
            </div>
        </div>
    </div>
</div>
</body>
</html>